* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

aside.ant-layout-sider.ant-layout-sider-dark,
.ant-layout-sider-trigger {
  background-color: #fff !important;
}

.ant-layout-sider-trigger span {
  color: #000;
}

.list-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px !important;
}

.active-item {
  background-color: rgba(187, 229, 250, 0.23);
  border-radius: 10px;
  font-weight: 700;
}

.list-item .select-icon {
  margin-right: 10px;
  width: 14px;
  font-weight: 700;
  cursor: pointer;
}

.modal-custome .ant-modal-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 26px;
}

.content-modal-nhom-cay {
  padding: 10px;
}

.content-modal-nhom-cay .input-nhom-cay {
  border-radius: 12px;
}

.input-nhom-cay .input {
  width: 80%;
}

.modal-confirm .ant-modal-footer {
  text-align: center;
  margin-bottom: 18px;
}

.modal-confirm-content {
  margin: 22px auto;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
}

.content-modal-nhom-cay .ant-form-item {
  margin-bottom: 0;
}

.site-layout {
  background-color: rgba(159, 223, 255, 0.23);
  height: 100vh;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}
