* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

aside.ant-layout-sider.ant-layout-sider-dark,
.ant-layout-sider-trigger {
  background-color: #fff !important;
}

.ant-layout-sider-trigger span {
  color: #000;
}

.input-nhom-cay {
  max-width: 30%;
}
